<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmartWatch</title>
    <partial name="_StylePartial" />
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="~/css/admin.css" />
</head>
<body>
    <partial name="_NavBarPartial" />
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <partial name="_SideBarPartial" />
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                @RenderBody()
            </main>
        </div>
        <partial name="_ModalDialogPartial" />
    </div>
    <partial name="_ScriptPartial" />
    @*<script src="~/js/map-controller.js" asp-append-version="true"></script>*@
    <script src="~/js/crud-controller.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>