@{
    ViewData["Title"] = "Home Page";
}

<nav id="sidebar">
    <div class="sidebar-header">
        <h3><i class="fa fa-clock"></i> Smart Watch</h3>
    </div>
    <div class="sidebar-content">
        <div class="card">
            <div class="card-header"><h5>Список устройств:</h5></div>
            <div class="table-responsive">
                <table class=""
                       data-url="/api/devicelocation/devices" data-toggle="table" data-pagination="true" data-show-header="false">
                    <thead class="text-center">
                        <tr>
                            <th data-field="name" data-formatter="nameFormatter">Наименование</th>
                            <th data-field="Id" data-formatter="operateFormatter" data-events="operateEvents" data-align="center">Действие</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</nav>

<div id="content">
    <partial name="_NavBarPartial" />
    <div class="container-fluid d-flex flex-column" style="height: calc(100vh - 65px)">
        <div class="row h-75 map-container flex-fill" id="map-container"></div>
    </div>
</div>



@section Scripts {
    <script type="text/javascript">
        function nameFormatter(value, row, index) {
            if (row.profile === undefined || row.profile === null) {
                return `<span>${row.name}<br/>
                          <small class='text-muted'>IMEI: ${row.imei}, EMAIL: ${row.name}</small>
                        </span>`;
            } else {
                return `<div class='media'>
                          <image src='${row.profile.medias.length > 0 ? row.profile.medias[0].src : ""}' class='mr-2' style='width:32px; height:32px' />
                          <div class='media-body'>
                              ${row.profile.general.name} ${row.profile.general.surname} <br/>
                              <small class='text-muted'>IMEI: ${row.imei}, EMAIL: ${row.name}</small>
                          </div>
                        </div>`;
            }
        }

        function operateFormatter(value, row, index) {
            return [
                `<a class="info mr-1" href="javascript:void(0)" title="Показать информацию"><i class="fa fa-info-circle"></i></a>
                 <a class="focus mr-1" href="javascript:void(0)" title="Показать на карте"><i class="fa fa-map-marker-alt"></i></a>
                 <a class="history" href="javascript:void(0)" title="История перемещения"><i class="fa fa-history"></i></a>`
            ].join('');
        }

        window.operateEvents = {
            'click .info': async function (e, value, row, index) {
                var result = await window.mapcontroller.showInfo(row.id, (data, status, jqXHR) => {
                    if (status === 'success') {
                        $('.modal').off('show.bs.modal').on('show.bs.modal', function () {
                            $('#modalTitle').text('Информация по устройству');
                            var panel = $(`<div class='row'>
                                             <div class='col-6'>
                                               <img src='${data.profile !== null && data.profile.medias.length > 0 ? data.profile.medias[0].src : ""}' class='img-fluid' />
                                             </div>
                                             <div class='col-6'>
                                               <h3>Информация по устройству</h3>
                                               <dl class='row'>
                                                 <dt class='col-4'>Наименование</dt>
                                                 <dd class='col-8'>${data.name}</dd>
                                                 <dt class='col-4'>IMEI</dt>
                                                 <dd class='col-8'>${data.imei}</dd>
                                                 <dt class='col-4'>Производитель</dt>
                                                 <dd class='col-8'>${data.manufacturer} ${data.model}</dd>
                                                 <dt class='col-4'>Платформа</dt>
                                                 <dd class='col-8'>${data.platform} ${data.version}</dd>
                                               </dl>
                                               <h3>Последние зафиксированные данные</h3>
                                               <dl class='row'>
                                                 <dt class='col-4'>Коордитаны (ш,д)</dt>
                                                 <dd class='col-8'>${data.marker.latitude}, ${data.marker.longitude}</dd>
                                                 <dt class='col-4'>Точность</dt>
                                                 <dd class='col-8'>${data.marker.accuracy}</dd>
                                                 <dt class='col-4'>Высота над у.м.</dt>
                                                 <dd class='col-8'>${data.marker.altitude}</dd>
                                                 <dt class='col-4'>Скорость</dt>
                                                 <dd class='col-8'>${data.marker.speed}</dd>
                                                 <dt class='col-4'>Ложный провайдер</dt>
                                                 <dd class='col-8'>${data.marker.isFromMockProvider}</dd>
                                                 <dt class='col-4'>Отметка времени</dt>
                                                 <dd class='col-8'>${new Date(data.marker.timestamp).toLocaleString()}</dd>
                                               </dl>
                                             </div>

                                           </div>`);
                            panel.appendTo('.modal .modal-body');
                        }).modal();
                    }
                });
            },
            'click .focus': function (e, value, row, index) {
                window.mapcontroller.focus(row.id);
            },
            'click .history': function (e, value, row, index) {
                window.mapcontroller.showHistory(row.id);
            }
        }

        $(document).ready(() => {
            window.mapcontroller = new MapController({ controller: '/api/devicelocation', containerInfo: '.sidebar-content' });
        })
    </script>
}