@{
    ViewBag.Title = "Список устройств";
    Layout = "_Layout";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">@ViewBag.Title</h2>
</div>
<div>
    <div class="table-toolbar mb-3">
        <a name="createBtn" data-action="create" class="btn btn-outline-secondary" href="@Url.Action("create", new {controller = "Device", Area = "Admin" })"><i class="fa fa-plus mr-1"></i> Создать</a>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-sm table-container"
               data-url="/api/device/list" data-toggle="table"
               data-pagination="true">
            <thead class="text-center">
                <tr>
                    <th data-checkbox="true" rowspan="2"></th>
                    <th data-field="name" data-sortable="true" rowspan="2">Наименование</th>
                    <th data-field="imei" rowspan="2">IMEI</th>
                    <th data-field="model" data-sortable="true" rowspan="2">Модель</th>
                    <th data-field="manufacturer" data-sortable="true" rowspan="2">Производитель</th>
                    <th colspan="3">Платформа</th>
                    <th data-field="status" data-sortable="true" rowspan="2">Статус</th>
                    <th rowspan="2" data-field="Id" data-formatter="operateFormatter" data-events="operateEvents" data-align="center">Действие</th>
                </tr>
                <tr>
                    <th data-field="version">Версия</th>
                    <th data-field="platform" data-sortable="true">Платформа</th>
                    <th data-field="idiom" data-sortable="true">Тип</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/map-controller.js" asp-append-version="true"></script>
    <script src="~/lib/highcharts/highcharts.js" asp-append-version="true"></script>

    <script type="text/javascript">
        function operateFormatter(value, row, index) {
            return [
                `<a class="map mr-2" href="javascript:void(0)" title="Показать на карте"><i class="fa fa-map-marker-alt"></i></a>
                     <a class="chart mr-2" href="javascript:void(0)" title="График GPS отклонений"><i class="fa fa-chart-bar"></i></a>
                     <a class="edit mr-2" href="javascript:void(0)" title="Редактировать"><i class="fa fa-edit"></i></a>
                     <a class="remove" href="javascript:void(0)" title="Удалить"><i class="fa fa-trash"></i></a>`
            ].join('')
        }

        window.operateEvents = {
            'click .map': function (e, value, row, index) {
                $('.modal').off('show.bs.modal').on('show.bs.modal', function () {
                    var map = $('<div class=\'map-container\' id=\'dialogMapContainer\' style=\'height:300px\'></div>').appendTo('.modal-body');
                    new MapController({ controller: '/api/devicelocation', containerInfo: '.sidebar-content', mapContainer: 'dialogMapContainer' });
                }).modal();
            },
            'click .edit': function (e, value, row, index) {
                window.location = `/admin/device/edit/${row.id}`
            },
            'click .remove': function (e, value, row, index) {
                if (confirm('Вы действительно хотите удалить запись?')) {
                    let options = {
                        'url': `/api/device/delete/${row.id}`,
                        'contentType': this.contentType,
                        'processData': false,
                        'type': 'DELETE',
                        'success': (data, textStatus, jqXHR) => {
                            $('.table').bootstrapTable('remove', {
                                field: 'id',
                                values: [row.id]
                            })
                        }
                    };
                    $.ajax(options);
                }
            },
            'click .chart': function (e, value, row, index) {
                var options = {
                    'contentType': 'application/json; charset=utf-8',
                    'url': `/api/indicator/deviceaccuracyinfo/${row.id}`,
                    'processData': false,
                    'beforeSend': (jqXHR, settings) => { },
                    'complete': (jqXHR, settings) => { }
                }

                $.ajax(options).done((data, status, jqXHR) => {
                    $('.modal').off('show.bs.modal').on('show.bs.modal', function () {
                        $('#modalTitle').text('График отклонений текущей позиции по GPS')
                        Highcharts.chart('modalBody', $.extend({
                            title: {
                                text: `Устройство: (IMEI) ${row.imei}`
                            },
                            subtitle: {
                                text: 'Количество отклонений (точности) координат устройства за месяц'
                            },
                            xAxis: {
                                categories: data[0].categories
                            }
                        }, data[0]))
                    }).modal();
                });
            }
        }
    </script>
}